<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058504630009-dsog0cqek7ncirur4h2ig88he6igeoi5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058504630009-dsog0cqek7ncirur4h2ig88he6igeoi5</string>
	<key>API_KEY</key>
	<string>AIzaSyCxOI9hQgikh6XVbLjN0jDGynsB30orncE</string>
	<key>GCM_SENDER_ID</key>
	<string>1058504630009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unsaloner.FakestoreProject</string>
	<key>PROJECT_ID</key>
	<string>fakestorenuevo</string>
	<key>STORAGE_BUCKET</key>
	<string>fakestorenuevo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058504630009:ios:b194ef4bffd78d93794c28</string>
</dict>
</plist>